# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: 
  - main

  

pool:  mypool

jobs:
  - job: linting
    displayName: lint kar rahe hai
    steps:

    - task: Bash@3
      displayName: biome linting
      inputs:
        targetType: 'inline'
        script: |
          sudo curl -L -O "https://github.com/biomejs/biome/releases/download/@biomejs%2Fbiome%402.3.8/biome-linux-x64"
          
          sudo chmod +x biome-linux-x64
          
          sudo mv biome-linux-x64 /usr/local/bin/biome   # optionally move to PATH
          
          biome lint "$(System.DefaultWorkingDirectory)/src" || true
      

    - task: NodeTool@0
      displayName: node install kar rahe hai
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
        checkLatest: true
    - task: Bash@3
      displayName: stylelint kar rahe
      inputs:
        targetType: 'inline'
        script: |
          npm install -g stylelint
          npm install -g stylelint-config-standard        
          stylelint $(System.DefaultWorkingDirectory)/src --config stylelint.config.mjs  || true
        
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          sudo apt update -y



          sudo apt install python3-pip python3-venv -y

      # Create and activate venv
          python3 -m venv venv
          source venv/bin/activate

          # Install yamllint inside venv
          pip install yamllint

          echo "Running yamllint..."
          venv/bin/yamllint $(System.DefaultWorkingDirectory)


  #         sudo apt install -y python3
  #         sudo apt install -y python3-pip

  #         pip3 install --user yamllint
  #         export PATH="$HOME/.local/bin:$PATH"
  #         yamllint $(System.DefaultWorkingDirectory)  || true


  #         - task: Bash@3
  # displayName: YamlLint
  # inputs:
  #   targetType: inline
  #   script: |
  #     sudo apt-get update -y
  #     sudo apt-get install python3-pip python3-venv -y

  #     # Create and activate venv
  #     python3 -m venv venv
  #     source venv/bin/activate

  #     # Install yamllint inside venv
  #     pip install yamllint

  #     echo "Running yamllint..."
  #     venv/bin/yamllint $(System.DefaultWorkingDirectory)
