# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: 
  - main

  

pool:  mypool

jobs:
  - job: linting
    displayName: lint kar rahe hai
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          sudo curl -L -O "https://github.com/biomejs/biome/releases/download/@biomejs%2Fbiome%402.3.8/biome-linux-x64"
          
          sudo chmod +x biome-linux-x64
          
          sudo mv biome-linux-x64 /usr/local/bin/biome   # optionally move to PATH
          
          biome lint "$(System.DefaultWorkingDirectory)/src" || true
          
      # continueOnError: true

